body{
    background: linear-gradient(to right, #0d2c29, black);    
}
h3{
    text-align: center;
    color: lightslategray;
    font-size: 22px;
    /* position: absolute;
    top: 20%; */
}
.skill-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px * 2);
}

svg > * {
    stroke: none;
}

svg{
    margin: 0 15px;
}